main{
    margin: 0 50px;
    background: #FBF1C7;
    border-radius: 4px;
    display: grid;
    grid-template-areas:"banner    banner"
                        "esquerda direita";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 700px 1fr;
}
#banner{
    grid-area: banner;
    margin: 30px 80px;
    border-radius: 10px;
    background: #FBF1C7;
    background-image: url(banner.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    overflow: hidden;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, .1);
}
#esquerda{
    grid-area: esquerda;
}
#direita{
    grid-area: direita;
}
section>h1{
    text-align: center;
    text-decoration: underline;
    font-size: 40px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content:space-around ;
    margin: 20px;
    padding: 30px;
}
.container>div{
    width: 160px;
    margin: 10px;
    height: 250px;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, .4);
}
.container>div>img{
    height: calc(100% - 30px);
    width: 100%;
    object-fit: cover;
}
.preco{
    color: #FBF1C7;
    font-size: 20px;
    padding-left: 5px;
}

#esquerda>h1{
    color: #CC241D;
}
#direita>h1{
    color: #689D6A;
}
#esquerda .preco{
    background: #CC241D;
}
#direita .preco{
    background: #689D6A;
}
#esquerda .container>div{
    background: #CC241D;
}
#direita .container>div{
    background: #689D6A;
}