/* Fonte */
@font-face {
    font-family: Roboto;
    src: url(Roboto-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

header{
    height: 80px;
    margin: 20px;
    border-radius: 4px;
    background: #7C6F64;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header>img{
    margin: 0 40px;
}
#busca{
    display: flex;
    justify-content: center;
    flex-grow: 5;
}
#busca>input{
    width: 60%;
    height: 40px;
    outline: none;
    border: none;
    padding: 8px;
    font-size: 1.1rem;
    border-radius: 4px 0 0 4px;
}
#busca>img{
    height: 40px;
    padding: 8px;
    border-radius: 0 4px 4px 0;
    background: #fff;
}
header>h1{
    flex-grow: 1;
}

main{
    margin: 0 10%;
    background: #FBF1C7;
    border-radius: 4px;
    display: grid;
    grid-template-areas:"banner    banner"
                        "esquerda direita";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 400px 1fr;
}
#banner{
    grid-area: banner;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, .30);
    margin: 20px;
    border-radius: 4px;
    background: #B16286;
}
#banner>h1{
    font-size: 80px;
}
#esquerda{
    grid-area: esquerda;
}
#direita{
    grid-area: direita;
}
section>h1{
    text-align: center;
    font-size: 40px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content:space-around ;
}
.container>div{
    width: 160px;
    margin: 10px;
    height: 250px;
    border-radius: 4px;
}
#esquerda .container>div{
    background: #689D6A;
}
#direita .container>div{
    background: #CC241D;
}