main{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 5fr 2fr 3fr;
  grid-template-areas: 
    "text1 img2"
    "img1 img2"
    "img1 text2";
  margin: 50px;
  padding: 50px;
  gap: 10px;
  justify-items: center;
  align-items: center;
}
main p{
  font-size: 1.7em;
  line-height: 1.4;
  word-spacing: 1.2;
  text-align: justify;
}
main img{
  width: 90%;
  height: 90%;
  border-radius: 20px;
  object-fit: contain;
}
#text1{
  grid-area: text1;
  padding: 10%;
}
#img1{
  grid-area: img1;
  width: 100%;
}
#text2{
  grid-area: text2;
  padding: 10%;
}
#img2{
  grid-area: img2;
  width: 100%;
}